@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  background: none;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.filter-item-name {
  color: #5ba4a4;
  background-color: #effafa;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  font-size: 12px;
  padding: 0.6rem;
  border-radius: 5px 0 0 5px;
}

.btn-filter {
  border-radius: 5px;
  color: #5ba4a4;
  background-color: #effafa;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  font-size: 12px;
  padding: 0.5rem;
}

.btn-filter:hover {
  background-color: #5ba4a4;
  color: #eef6f6;
}

#clear-all {
  color: #7b8e8e;
  font-family: "Spartan", sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding: 1rem;
  margin: 0;
}

#clear-all:hover {
  color: #5ba4a4;
  text-decoration: underline;
}

h2 {
  color: #5ba4a4;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
}

.job-title {
  color: #2c3a3a;
  font-size: 15px;
}

.job-title:hover {
  color: #5ba4a4;
}

.tag {
  color: #effafa;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.5rem 0.5rem 0.3rem 0.5rem;
  border-radius: 50px;
  margin-left: 0.5rem;
  text-align: center;
}

.new {
  background-color: #5ba4a4;
}

.featured {
  background-color: #2c3a3a;
}

.job-specs-item {
  color: #7b8e8e;
  font-weight: 500;
}

.job-specs-item:nth-child(2), .job-specs-item:nth-child(3) {
  list-style-type: disc;
}

.attribution {
  font-family: "Spartan", sans-serif;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #5ba4a4;
}

* button:hover,
* .job-title:hover {
  cursor: pointer;
}

body {
  background-color: #effafa;
}

header {
  background-color: #5ba4a4;
  background-image: url("../images/bg-header-mobile.svg");
  background-size: cover;
}

.filter-container,
.card-item {
  background-color: white;
  border-radius: 5px;
}

.clear-one {
  border-radius: 0 5px 5px 0;
  background-color: #5ba4a4;
}

.clear-one:hover {
  background-color: #2c3a3a;
}

.shadow {
  -webkit-box-shadow: 0 10px 20px rgba(91, 164, 164, 0.253);
          box-shadow: 0 10px 20px rgba(91, 164, 164, 0.253);
}

.border {
  border-left: 5px solid #5ba4a4;
}

@media only screen and (min-width: 768px) {
  header {
    background-image: url("../images/bg-header-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

body header {
  width: 100%;
  height: 20vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

body .wrapper {
  width: 90%;
  margin: 110px auto 10% auto;
}

.filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
}

.filter-container .filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.5rem 0;
}

.filter-container .filter-list .filter-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0.5rem;
}

.filter-container .filter-list .filter-item .clear-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  margin: 0;
}

#top {
  display: none;
}

.card-container {
  margin-top: 3.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2.5rem;
}

.card-container .card-item {
  padding: 0 1rem;
}

.card-container .card-item .card-info {
  position: relative;
  width: 100%;
}

.card-container .card-item .card-info .logo-container {
  position: absolute;
  top: -33%;
}

.card-container .card-item .card-info .logo-container img {
  width: 50%;
}

.card-container .card-item .card-info .name {
  margin-top: 1rem;
  padding: 1rem 0 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-container .card-item .card-info .job-specs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  border-bottom: 2px solid #eef6f6;
}

.card-container .card-item .card-info .job-specs-list .job-specs-item {
  margin-right: 1.5rem;
  padding: 1rem 0rem;
}

.card-container .card-item .card-info .job-specs-list .job-specs-item:nth-child(1) {
  margin-left: 0;
}

.card-container .card-item .filter-container {
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.card-container .card-item .filter-container .filter-list {
  width: 90%;
  margin-bottom: 0.5rem;
}

.card-container .card-item .filter-container .filter-list .filter-item {
  margin: 0.5rem 1rem 0.5rem 0;
}

@media only screen and (min-width: 1024px) {
  .card-container {
    gap: 2rem;
  }
  .card-container .card-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-container .card-item .card-info .logo-container {
    position: static;
    float: left;
    padding: 1rem;
  }
  .card-container .card-item .card-info .logo-container img {
    width: 100%;
  }
  .card-container .card-item .card-info .name {
    margin-top: 0;
  }
  .card-container .card-item .card-info .job-specs-list {
    border-bottom: none;
  }
  .card-container .card-item .filter-container .filter-list {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */