#features{
    .wrapper{
        text-align: center;
        h2{
            @include title(2rem);
            padding-bottom: 2rem;
        }
        p{
            @include paragraph(1.1rem, 1.8rem);
            width: 46%;
            margin: 0 auto;
            padding-bottom: 4rem;
        }
        .features-tabs{
            position: relative;      
            .tabs{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                width: 70%;
                margin: 0 auto;
                padding-bottom: 4rem;
                .tablink{
                    padding: 2rem;
                    border-bottom: 1px solid $neutral-grayish-blue;
                    color: $neutral-very-dark-blue;
                    &:hover{
                        color: $primary-soft-red;
                    }
                    &:focus, &.defaultBorder{
                        border-bottom: 3px solid $primary-soft-red;
                    }
                }
            }
            .tabs-content{
                width: 100%;
                animation: fadeEffect 1s;
                @keyframes fadeEffect {
                    from {opacity: 0;}
                    to {opacity: 1;}
                }
                .tabs-illustration-container{
                    width: 43%;
                    margin-left: 4rem;
                    float: left;
                }
                .tabs-text{
                    float: right;
                    width: 38%;
                    margin-left: 7rem;
                    margin-top: 5rem;
                    text-align: left;
                    h3{
                        @include title(2rem);
                        padding-bottom: 1.5rem;
                    }
                    p{
                        @include paragraph(1.1rem, 1.8rem);
                        width: 100%;
                        padding-bottom: 3rem;
                    }
                    .btn-blue{
                        @include button($primary-soft-blue);
                    }
                }
            }
            &::before{
                content: "";
                display: block;
                width: 40vw;
                height: 40vh;
                background: $primary-soft-blue;
                border-radius: 0 0 30% 0;
                position: absolute;
                z-index: -1;
                left: -10rem;
                top: 14rem;
            }
        }
    }
    padding-bottom: 35rem;
}

@media only screen and (max-width: 768px){
    #features{
        .wrapper{
            h2{
                font-size: 1.5rem;
                padding-bottom: 1rem;
            }
            p{
                width: 60%;
                font-size: 0.8rem;
                line-height: 1rem;
                padding-bottom: 1.5rem;
            }
            .features-tabs{
                .tabs{
                    font-size: 0.8rem;
                    padding-bottom: 2rem;
                    width: 80%;
                    .tablink{
                        padding: 1rem;
                    }
                }
                .tabs-content{
                    .tabs-illustration-container{
                        margin-left: 1.5rem;
                    }
                    .tabs-text{
                        margin-top: 1rem;
                        margin-left: 3rem;
                        text-align: left;
                        h3{
                            font-size: 1.5rem;
                            padding-bottom: 1rem;
                        }
                        p{
                            font-size: 0.75rem;
                            line-height: 1rem;
                            padding-bottom: 1.5rem;
                        }
                        .btn-blue{
                            font-size: 0.7rem;
                            padding: 0.7rem 1rem;
                            margin-top: 1rem;
                            width: 60%;
                        }
                    }
                }
                &::before{
                    width: 43vw;
                    height: 18vh;
                    position: absolute;
                    top: 8rem;
                }
            }
        }
        padding-bottom: 25rem;
    }  
}

@media only screen and (max-width: 576px){
    #features{
        .wrapper{
            p{
                width: 90%;
                line-height: 1.3rem;
            }
            .features-tabs{     
                .tabs{
                    grid-template-columns: 1fr;
                }
                .tabs-content{
                    
                    .tabs-illustration-container{
                        float: none;
                        width: 50%;
                        width: 100%;
                        margin-left: 0;
                    }
                    .tabs-text{
                        float: none;
                        width: 83%;
                        margin: 5rem auto 0 auto;
                        text-align: center;
                        h3{
                            font-size: 1.3rem;
                        }
                        p{
                            width: 100%;
                            line-height: 1.2rem;
                            font-size: 0.8rem;
                        }
                        .btn-blue{
                            display: none;
                        }
                    }
                }
                &::before{
                    width: 68vw;
                    height: 30vh;
                    left: -2.5rem;
                    top: 12.5rem;
                }
            }
        }
        padding-bottom: 10rem;
    }
}