/* GENERAL */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(257, 40%, 49%);
    background-image: url(img/bg-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: left;
}


/* LOGO */
.logo{
    margin: 3rem 0;
}
.logo img{
    width: 15%;
}


/* ILLUSTRATION AND TEXT */
.illustration-text img{
    width: 95%;
}

.illustration-text h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 4rem;
    font-size: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.illustration-text p{
    font-size: 0.88rem;
    margin-bottom: 1.5rem;
}

.redesign-bttn{
    color: hsl(257, 40%, 49%);
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    font-weight: 400;
    padding: 0.8rem 0;
    width: 35%;
    border-radius: 50px;
    box-shadow: 5px 5px 5px hsl(257, 40%, 38%);
}


/* SOCIAL MEDIA */
.social-media{
    text-align: right;
    margin-bottom: 50px;
}
.social-icons{
    display: inline-block;
    width: 30px;
    padding: 3px;
    border: 1px solid white;
    border-radius: 100px;
    text-align: center;
    margin: 5px;
}
.social-icons a{
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    text-align: center;
}


/* FOOTER */
.attribution{ 
    font-size: 11px; text-align: center;
}
.attribution a{ 
    color: hsl(257, 75%, 78%);
    text-decoration: none;
}



/* MEDIA QUERIES */

@media (max-width: 576px) {
    
    body{
        background-image: none;
    }
    .introductory-section{
        background-image: url(img/bg-mobile.svg);
        background-repeat: no-repeat;
    }

    .logo{
        margin: 0;
        padding-left: 1rem;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
    .logo img{
        width: 30%;
    }

    .illustration-text{
        text-align: center;
        
    }
    .illustration-text img{
        width: 90%;
    }
    .illustration-text h1{
        font-size: 1.5rem;
        padding: 1rem 1rem 0 1rem;
        line-height: 2rem;
        margin-bottom: 1rem;
    }
    .illustration-text p{
        font-size: 0.88rem;
        line-height: 1.5rem;
        padding: 0 2.7rem 0 2.7rem;
    }

    .redesign-bttn{
        width: 50%;
        padding: 0.5rem 0;
        font-size: 0.7rem;
        margin-bottom: 4rem;
    }

    .social-media{
        text-align: center;
    }
}