/*
- Mobile: 375px
- Desktop: 1440px
*/

/* General styles and css grid */

body{
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: hsl(217, 19%, 35%);
    background-color: hsl(210, 46%, 95%);
    display: grid;
    grid-template-rows:150px 37% 5% auto;
    grid-template-columns: 25% 20% 30% 25%;
}

.photo{
    grid-row-start: 2;
    grid-column-start: 2;
    overflow: hidden;
    border-radius: 0.5em 0 0 0.5em;
}

article{
    grid-row-start: 2;
    grid-column-start: 3;
}

.attribution{
    grid-row-start: 4;
    grid-column-end: span 4;
}


/* Left side */

.photo img{
    max-height: 100%;
}


/* Right side */

article{
    background-color: white;
    text-align: left;
    padding: 0.7rem 2rem;
    border-radius: 0 0.5em 0.5em 0;
}
article h1{
    font-size: 1.5em;
    font-weight: 700;
}
article p{
    font-size: 0.9em;
    padding-bottom: 1em;
    line-height: 1.5em;
}

/* author info */

.article-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author{
    width: 50%;
}
.author img{
    width: 25%;
    float: left;
    border-radius: 100%;
    margin-right: 15px;
}
.author h3{
    font-size: 0.8em;
    line-height: 1.9em;
    margin-top: 0.3em;
    font-weight: 500;
}
.author h3 .bold{
    font-weight: 700;
    font-size: 1.1em;

}

/* Share icon and social media pop up */

.share{
    width: auto;
    display: flex;
    position: relative;
    cursor: pointer;
}
.share-icon{
    background-color: hsl(210, 46%, 95%);
    padding: 7px;
    border-radius: 100%;
    font-size: 1em;
    align-self: center;
    color: hsl(214, 17%, 51%);
}

.clicked{
    background-color: hsl(214, 17%, 51%);
    color:hsl(210, 46%, 95%);
}

    /* actual popup */
.share .popup-box{
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 19%, 35%);
    width: 130px;
    padding: 0.5em 1em;
    bottom: 3.5em;
    left: -5em;
    border-radius: 0.5em;
    box-shadow: 0px 3px 5px hsl(212, 23%, 69%);
    z-index: 1;
}
.share .popup-box .caps{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 500;
    font-size: 0.6em;
    margin-right: 1em;
}
.share .popup-box img{
    margin-left: 0.5em;
    width: 1em;
}
    /* triangle shape */
.share .popup-box::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -7px;
    border-width: 7px;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}

    /* hide and show the popup */
.share .show {
    visibility: visible;
    animation: fadeIn 0.4s;
}
    /* popup animation */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}


/* attribution */

.attribution p{ 
    font-size: 0.7rem; 
    text-align: center;
    color: hsl(218, 22%, 67%);
}
.attribution a{ 
    color: hsl(217, 19%, 35%);
    text-decoration: none;
}


/* Media queries */

@media (max-width: 768px){
    body{
        grid-template-rows:50px 30% 49.4% 5% auto;
        grid-template-columns: 10% auto 10%;
        font-size: 13px;
    }
    .photo{
        grid-row-start: 2;
        grid-column-start: 2;
        margin: 0 0 -55px 0;
        border-radius: 0.5em 0.5em 0 0;
    }
    .photo img{
        width: 100%;
    }
    
    article{
        grid-row-start: 3;
        grid-column-start: 2;
        padding-bottom: 0;
        border-radius: 0 0 0.5em 0.5em;
    }
    article h1{
        font-size: 1em;
        font-weight: 700;
        margin-top: 1.5em;
    }
    article p{
        font-size: 0.8em;
        line-height: 1.7em;
        margin-bottom: 2em;
    }

    .author{
        width: 70%;
    }
    .author h3{
        margin-bottom: 0;
    }
    .author p{
        margin-bottom: 1.5em;
    }

    .share-icon{
        z-index: 2;
    }
    .share .popup-box{
        position: absolute;
        display: flex;
        justify-content: start;
        align-items: center;
        width: 20.1em;
        padding: 2em 1em;
        bottom: -1.9em;
        left: -17.55em;
        border-radius: 0.5em;
        box-shadow: none;
        z-index: 1;
    }
    .share .popup-box .caps{
        font-weight: 500;
        font-size: 0.7em;
        margin-right: 0.9em;
        margin-left: 2.1em;
    }
    .share .popup-box img{
        margin-left: 1em;
        width: 1.2em;
    }
    .share .popup-box::after{
        visibility: hidden;
    }

    .attribution{
        grid-row-start: 4;
        grid-column-end: span 4;
    }
    .attribution p{
        margin-top: 1.5rem;
    }
}    